
body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    text-align: center;
}

header {
    background-color: #f0f0f0;
    color: black;
    text-align: center;
    padding: 20px;
}

main {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}
