header {
    display: flex;
    min-height: 50px;
    background-color: rgb(218, 216, 216);
    align-items: center;
    justify-content: space-around;
    margin: 5px 300px;
    border: 1px solid gray;
    font-family: 'Courier New', Courier, monospace;
}

.left-header a h3,
.middle-header a,
.right-header a,
.left-footer a,
.middle-footer a,
.right-footer a {
    color: black;
}

a {
    text-decoration: none;
}

a:hover,
a h3:hover {
    color: rgb(192, 4, 192);
}

main {
    text-align: center;
    margin: 0px 310px;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    display: flex;
    min-height: 50px;
    background-color: rgb(218, 216, 216);
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    margin: 0px 300px;
    font-family: 'Courier New', Courier, monospace;
}
