header {
    display: flex;
    min-height: 50px;
    background-color: rgb(218, 216, 216);
    align-items: center;
    margin: 3px 0px;
    justify-content: space-around;
    border: 1px solid black;
}


.left-header a h3,
.finance-header a,
.middle-header a,
.right-header a,
.projests a,
.left-footer a,
.newsletter-footer a,
.middle-footer a,
.right-footer a {
    color: black;
}

a {
    text-decoration: none;
}

a button:hover,
a:hover,
a h3:hover {
    color: rgb(192, 4, 192);
}

main {
    text-align: center;
}

projectonebutton {
    background-color: rgb(218, 216, 216);
    border: 1px solid black;
    color: black;
    min-height: 50px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 50px 7px;
    border-radius: 8px;
}

footer {
    display: flex;
    min-height: 50px;
    background-color: rgb(218, 216, 216);
    justify-content: space-around;
    align-items: center;
    margin: 3px 0px;
    border: 1px solid black;
}
