body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #007acc;
  color: white;
  padding: 20px;
  text-align: center;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

