header {
    display: flex;
    min-height: 50px;
    background-color: rgb(218, 216, 216);
    align-items: center;
    justify-content: space-around;
    margin: 5px 300px;
    border: 1px solid gray;
}

.left-header a h3,
.middle-header a,
.right-header a,
.left-footer a,
.middle-footer a,
.right-footer a {
 color: black;
}

a {
    text-decoration: none;
}

a:hover,
a h3:hover {
    color: rgb(192, 4, 192);
}

main {
    text-align: center;
    margin: 100px 300px;
    font-weight: bold;
}

main h3 {
    background-color: somkewhite;
    border: 1px silver solid;
    color: grey;
    padding: 5px
}

footer {
    display: flex;
    min-height: 50px;
    background-color: rgb(218, 216, 216);
    justify-content: space-around;
    align-items: center;
    margin: 0px 300px;
    border: 1px solid gray;
}


form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
    font-weight: bold;
}

input,
textarea {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 10px;
}

button {
    padding: 10px;
    background-color: #007acc;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}
