header {
    display: flex;
    min-height: 50px;
    background-color: rgb(218, 216, 216);
    align-items: center;
    margin: 3px 0px;
    justify-content: space-around;
    border: 1px solid black;
}


.left-header a h3,
.finance-header a,
.middle-header a,
.right-header a,
.left-footer a,
.newsletter-footer a,
.middle-footer a,
.right-footer a {
 color: black;
}

a {
    text-decoration: none;
}

a:hover,
a h3:hover
button: hover{
    color: rgb(192, 4, 192);
}

main {
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin: 5px 0px;
}

main h3 {
    background-color: somkewhite;
    border: 1px silver solid;
    color: grey;
    padding: 5px
}

form {
    max-width: 600px
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
    font-weight: bold;
}

input,
textarea {
    padding: 5px;
    margin-bottom: 12px;
    border: 1px solid gray;
    font-size: 15px;
    text-align: center;
    align-items: center;
}

button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 15px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    display: flex;
    min-height: 50px;
    background-color: rgb(218, 216, 216);
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    margin: 5px 0px;
}
