header {
    display: flex;
    min-height: 50px;
    background-color: rgb(218, 216, 216);
    align-items: center;
    justify-content: space-around;
    margin: 3px, 0px;
    border: 1px solid black;
}

.left-header a h3,
.finance-header a,
.middle-header a,
.right-header a,
.left-footer a,
.middle-footer a,
.right-footer a {
    color: black;
}

a {
    text-decoration: none;
}

a:hover,
a h3:hover {
    color: rgb(192, 4, 192);
}

main {
    text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.goldanalysis {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

footer {
    display: flex;
    min-height: 50px;
    background-color: rgb(218, 216, 216);
    justify-content: space-around;
    align-items: center;
    margin: 3px 0px;
    border: 1px solid black;
}
